*{
    margin:0px;
}
.container{
    background-color: white;
    
}
.row{
    background-color: aqua;
    display : flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
.row1{
    
    display : flex;
    justify-content: space-around;
    padding: 20px;
    height: 630px;
    align-items: center;
}
.row2{
    
    display : flex;
    justify-content: space-around;
    padding: 20px;
    height: 630px;
    align-items: center;
    background-color: silver;
}
.row3{
    
    display : flex;
    justify-content: space-around;
    padding: 20px;
    height: 630px;
    align-items: center;
    background-color: rgb(40, 218, 46);
}
.row4{
    
    display : flex;
    justify-content: space-around;
    padding: 20px;
    height: 630px;
    align-items: center;
    background-color: rgb(230, 49, 49);
}
.row5{
    
    display : flex;
    justify-content: space-around;
    padding: 20px;
    height: 630px;
    align-items: center;
    background-color: rgb(179, 235, 9);
}
.footer{
    color: antiquewhite;
    background-color: rgb(13, 13, 12);
    padding : 15px;
    height : 10px;
}
.box{
    /* background-color: rgb(124, 124, 245); */
    padding: 10px;
    
}
.box1{
    padding : 20px;
    background-color: white;
    color: black;
    margin : 10px; 
    border-radius: 20px;
}
li{
    display :inline;
    padding : 5px;
    font-size: large;
}
a{
    text-decoration: none;
}
a:hover{
    /* background-color: white; */
    text-decoration: underline;
    font-size: larger;
}
.imgclass{
    border-radius: 50px;
}